*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: #1b1145;
    font-family: 'Inknut Antiqua', serif;
}

.app-container{
    background-color: #8947c3;
    padding: 2em;
    border-radius: 5px;
    min-width:90%;
}

.dice{
    background-color: #bb96dc;
    color:white;
    border-radius: 5px;
    padding:1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roll{
    font-size: 1.5rem;;
}

button{
    font-size: 1rem;
    padding:.2em 1em;
    border: none;
    border-radius: 5px;
    color:white;
    background-color: #40227a;
    font-family: 'Inknut Antiqua', serif;
}